In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('data/train.csv')
df_train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
df = df_train
df_train.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [4]:
df.shape

(8693, 14)

In [5]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
df.dropna(axis=0,inplace=True, how="any")
df.shape

(6606, 14)

In [7]:
df['group'] = df['PassengerId'].str.split('_', expand=True)[0].astype(str)
df['group']

0       0001
1       0002
2       0003
3       0003
4       0004
        ...
8688    9276
8689    9278
8690    9279
8691    9280
8692    9280
Name: group, Length: 6606, dtype: object

In [8]:
df['Cabin']

0          B/0/P
1          F/0/S
2          A/0/S
3          A/0/S
4          F/1/S
          ...
8688      A/98/P
8689    G/1499/S
8690    G/1500/S
8691     E/608/S
8692     E/608/S
Name: Cabin, Length: 6606, dtype: object

In [9]:
df[['deck','cabin_num','cabin_side']] = df['Cabin'].str.split('/', expand=True).astype(str)
df[['deck','cabin_num','cabin_side']]

     deck cabin_num cabin_side
0       B         0          P
1       F         0          S
2       A         0          S
3       A         0          S
4       F         1          S
...   ...       ...        ...
8688    A        98          P
8689    G      1499          S
8690    G      1500          S
8691    E       608          S
8692    E       608          S

[6606 rows x 3 columns]

In [10]:
df.set_index('PassengerId', drop=True, inplace=True)

In [11]:
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,group,deck,cabin_num,cabin_side
PassengerId,,,,,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0001,B,0,P
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,0002,F,0,S
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,0003,A,0,S
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,0003,A,0,S
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,0004,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,9276,A,98,P
9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,9278,G,1499,S
9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,9279,G,1500,S
9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,9280,E,608,S
9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,9280,E,608,S

In [12]:
df['Destination'].value_counts()

Destination
TRAPPIST-1e      4576
55 Cancri e      1407
PSO J318.5-22     623
Name: count, dtype: int64

In [13]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000
mean,28.894036,222.991674,478.958523,178.356494,313.161520,303.780048
std,14.533429,644.987936,1678.592291,576.328407,1144.016291,1127.142166
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,49.000000,82.750000,30.000000,65.000000,52.000000
max,79.000000,9920.000000,29813.000000,12253.000000,22408.000000,20336.000000

In [14]:
df.dtypes

HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
group            object
deck             object
cabin_num        object
cabin_side       object
dtype: object

In [15]:
df['HomePlanet'].value_counts()

HomePlanet
Earth     3566
Europa    1673
Mars      1367
Name: count, dtype: int64

In [16]:
df['Destination'].value_counts()

Destination
TRAPPIST-1e      4576
55 Cancri e      1407
PSO J318.5-22     623
Name: count, dtype: int64

In [17]:
df['deck'].value_counts()

deck
F    2152
G    1973
E     683
B     628
C     587
D     374
A     207
T       2
Name: count, dtype: int64

In [18]:
df['cabin_side'].value_counts()

cabin_side
S    3345
P    3261
Name: count, dtype: int64

In [19]:
from mapping import *

In [20]:
df['HomePlanet_mapped'] = df['HomePlanet'].map(lambda x:home_planet_map[x])
df['Destination_mapped'] = df['Destination'].map(lambda x:destination_map[x])
df['deck_mapped'] = df['deck'].map(lambda x:deck_map[x])
df['cabin_side_mapped'] = df['cabin_side'].map(lambda x:cabin_side_map[x])

In [21]:
x = df.iloc[:,:-1]
x.drop(['HomePlanet','Destination','Cabin','Name','deck','cabin_side','Transported'],inplace=True, axis=1)
x

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,group,cabin_num,HomePlanet_mapped,Destination_mapped,deck_mapped
PassengerId,,,,,,,,,,,,,
0001_01,False,39.0,False,0.0,0.0,0.0,0.0,0.0,0001,0,1,2,3
0002_01,False,24.0,False,109.0,9.0,25.0,549.0,44.0,0002,0,2,2,0
0003_01,False,58.0,True,43.0,3576.0,0.0,6715.0,49.0,0003,0,1,2,6
0003_02,False,33.0,False,0.0,1283.0,371.0,3329.0,193.0,0003,0,1,2,6
0004_01,False,16.0,False,303.0,70.0,151.0,565.0,2.0,0004,1,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276_01,False,41.0,True,0.0,6819.0,0.0,1643.0,74.0,9276,98,1,1,6
9278_01,True,18.0,False,0.0,0.0,0.0,0.0,0.0,9278,1499,2,0,1
9279_01,False,26.0,False,0.0,0.0,1872.0,1.0,0.0,9279,1500,2,2,1
9280_01,False,32.0,False,0.0,1049.0,0.0,353.0,3235.0,9280,608,1,1,2
9280_02,False,44.0,False,126.0,4688.0,0.0,0.0,12.0,9280,608,1,2,2

In [22]:
y = df['Transported']
y

PassengerId
0001_01    False
0002_01     True
0003_01    False
0003_02    False
0004_01     True
           ...
9276_01    False
9278_01    False
9279_01     True
9280_01    False
9280_02     True
Name: Transported, Length: 6606, dtype: bool

In [42]:
y.value_counts()

Transported
True     3327
False    3279
Name: count, dtype: int64

In [23]:
test = pd.read_csv('data/test.csv')
df = test
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

In [24]:
df.dropna(axis=0,inplace=True, how="any")
df.shape

(3281, 13)

In [25]:
df['group'] = df['PassengerId'].str.split('_', expand=True)[0].astype(str)
df['group']

0       0013
1       0018
2       0019
3       0021
4       0023
        ...
4269    9263
4270    9265
4271    9266
4272    9266
4276    9277
Name: group, Length: 3281, dtype: object

In [26]:
df['Cabin']

0          G/3/S
1          F/4/S
2          C/0/S
3          C/1/S
4          F/5/S
          ...
4269    G/1495/S
4270     D/278/S
4271    F/1796/S
4272    G/1496/S
4276    G/1498/S
Name: Cabin, Length: 3281, dtype: object

In [27]:
df[['deck','cabin_num','cabin_side']] = df['Cabin'].str.split('/', expand=True).astype(str)
df[['deck','cabin_num','cabin_side']]

     deck cabin_num cabin_side
0       G         3          S
1       F         4          S
2       C         0          S
3       C         1          S
4       F         5          S
...   ...       ...        ...
4269    G      1495          S
4270    D       278          S
4271    F      1796          S
4272    G      1496          S
4276    G      1498          S

[3281 rows x 3 columns]

In [28]:
df.set_index('PassengerId', drop=True, inplace=True)

In [29]:
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,group,deck,cabin_num,cabin_side
PassengerId,,,,,,,,,,,,,,,,
0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,0013,G,3,S
0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,0018,F,4,S
0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,0019,C,0,S
0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,0021,C,1,S
0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,0023,F,5,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9263_01,Earth,True,G/1495/S,TRAPPIST-1e,43.0,False,0.0,0.0,0.0,0.0,0.0,Loisey Heney,9263,G,1495,S
9265_01,Mars,False,D/278/S,TRAPPIST-1e,43.0,False,47.0,0.0,3851.0,0.0,0.0,Toate Cure,9265,D,278,S
9266_01,Earth,False,F/1796/S,TRAPPIST-1e,40.0,False,0.0,865.0,0.0,3.0,0.0,Danna Peter,9266,F,1796,S
9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,9266,G,1496,S
9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,9277,G,1498,S

In [30]:
df['HomePlanet_mapped'] = df['HomePlanet'].map(lambda x:home_planet_map[x])
df['Destination_mapped'] = df['Destination'].map(lambda x:destination_map[x])
df['deck_mapped'] = df['deck'].map(lambda x:deck_map[x])
df['cabin_side_mapped'] = df['cabin_side'].map(lambda x:cabin_side_map[x])

In [31]:
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,group,deck,cabin_num,cabin_side,HomePlanet_mapped,Destination_mapped,deck_mapped,cabin_side_mapped
PassengerId,,,,,,,,,,,,,,,,,,,,
0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning,0013,G,3,S,2,2,1,1
0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers,0018,F,4,S,2,2,0,1
0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus,0019,C,0,S,1,1,4,1
0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter,0021,C,1,S,1,2,4,1
0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez,0023,F,5,S,2,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9263_01,Earth,True,G/1495/S,TRAPPIST-1e,43.0,False,0.0,0.0,0.0,0.0,0.0,Loisey Heney,9263,G,1495,S,2,2,1,1
9265_01,Mars,False,D/278/S,TRAPPIST-1e,43.0,False,47.0,0.0,3851.0,0.0,0.0,Toate Cure,9265,D,278,S,0,2,5,1
9266_01,Earth,False,F/1796/S,TRAPPIST-1e,40.0,False,0.0,865.0,0.0,3.0,0.0,Danna Peter,9266,F,1796,S,2,2,0,1
9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter,9266,G,1496,S,2,2,1,1
9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley,9277,G,1498,S,2,0,1,1

In [32]:
x_test = df.iloc[:,:-1]
x_test.drop(['HomePlanet','Destination','Cabin','Name','deck','cabin_side'], inplace=True, axis=1)
x_test

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,group,cabin_num,HomePlanet_mapped,Destination_mapped,deck_mapped
PassengerId,,,,,,,,,,,,,
0013_01,True,27.0,False,0.0,0.0,0.0,0.0,0.0,0013,3,2,2,1
0018_01,False,19.0,False,0.0,9.0,0.0,2823.0,0.0,0018,4,2,2,0
0019_01,True,31.0,False,0.0,0.0,0.0,0.0,0.0,0019,0,1,1,4
0021_01,False,38.0,False,0.0,6652.0,0.0,181.0,585.0,0021,1,1,2,4
0023_01,False,20.0,False,10.0,0.0,635.0,0.0,0.0,0023,5,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9263_01,True,43.0,False,0.0,0.0,0.0,0.0,0.0,9263,1495,2,2,1
9265_01,False,43.0,False,47.0,0.0,3851.0,0.0,0.0,9265,278,0,2,5
9266_01,False,40.0,False,0.0,865.0,0.0,3.0,0.0,9266,1796,2,2,0
9266_02,True,34.0,False,0.0,0.0,0.0,0.0,0.0,9266,1496,2,2,1
9277_01,True,43.0,False,0.0,0.0,0.0,0.0,0.0,9277,1498,2,0,1

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
classifier = DecisionTreeClassifier()

In [35]:
classifier.fit(x,y)

DecisionTreeClassifier()

In [36]:
y_predict = classifier.predict(x_test)

In [37]:
y_predict

array([ True, False,  True, ..., False,  True,  True])

In [38]:
y_predict

array([ True, False,  True, ..., False,  True,  True])

In [39]:
results = pd.DataFrame(np.vectorize(lambda x:bool(x))(y_predict), index=df.index)
results.columns = ['Transported']
results.to_csv('results.csv')

In [40]:
from sklearn.model_selection import cross_val_score

In [41]:
cross_val_score(classifier, x, y)

array([0.51815431, 0.69341408, 0.66464799, 0.69265708, 0.68811506])

# Sah c bof

Next : Tokenize text  
https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html#tokenizing-text-with-scikit-learn